<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.project.hc.imtest">

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
                 android:name=".application.BaseApplication"
                 android:label="@string/app_name"
                 android:icon="@mipmap/icon_app"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity android:name="com.project.hc.imtest.activity.LoginActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.project.hc.imtest.activity.RegisterActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.project.hc.imtest.activity.ForgetPwActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.MainActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.PersonInfoActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.PackageActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.MyGetActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.RedPackageHistoryActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.SettingActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.AboutActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.IntroduceActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.ModifyPwActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.MsgListActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.WfIntroduceActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.BindAccountActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.BindAlipayActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.BindBankActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.RedPackageSendActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.RedPackageDetailActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.ModifyNameActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.activity.ModifyPhotoActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity android:name="com.project.hc.imtest.chat.CustomChatActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1113190219030993#zhongleyou" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"
        />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 结束环信配置-->
    </application>
</manifest>
